name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Build
        run: swift build -v --enable-experimental-prebuilts

      - name: Run tests
        run: SWIFT_DETERMINISTIC_HASHING=1 swift test -v --parallel --enable-experimental-prebuilts

      - name: Build Showcase (static analysis)
        run: swift build --target Showcase --enable-experimental-prebuilts

      - name: Build ShowcaseDependency (static analysis)
        run: swift build --target ShowcaseDependency --enable-experimental-prebuilts

      - name: Test Implicits for iOS
        run: swift test --filter ImplicitsTests --sdk $(xcrun --sdk iphonesimulator --show-sdk-path) --triple arm64-apple-ios14.0-simulator --enable-experimental-prebuilts
